*{
    margin: 0px;
    padding: 0px;
    font-family: "Karla", sans-serif;

}

@media (width <= 1200px) {
    main{
        background-color: hsl(148, 38%, 91%);
        height: auto;
        padding: 30px 20px;
    }
    
    form{
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        display: flex;
        flex-direction:column;
        align-items: start;
        padding: 30px;

        
    }
    
    .form__title{
        font-size: 1.8rem;
        font-weight: 600;
        color: hsl(187, 24%, 22%);
        margin-bottom: 10px;
        display 
        
    }
    
    .form_inputs, .form__checkbox, #form__submitButton{
        width: 100%;
        height: 60px;
        font-size: 1.1rem;
        border-radius: 5px;
        border: 1px solid hsl(186, 15%, 59%);
        
    }
    
    span{
        color:hsl(186, 15%, 59%);
    }
    
    .form__labels{
        margin: 25px 0px 10px 0px;
    }
    
    
    .form_inputRadio{
        margin-left: 40px;
        transform: scale(2); /* Aumenta el tamaño del input radio */
    }
    
    .form__checkbox{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }
    
    .form_message{
        height: 300px;
    }
    
    .form__inputCheckBox{
        transform: scale(1.3);
        
    }
    
    .form__check{
        display: flex;
        gap: 15px;
        margin-top: 45px;
        padding-left: 10px;
       
    }
    
    #form__submitButton{
        margin-top: 50px;
        height: 70px;
        font-size: 1.5rem;
        font-weight: 500;
        color: white;
        background-color:hsl(169, 82%, 27%);
        
    }
    
}

@media (width > 1200px) {
    
}

