*{
    margin: 0;
    font-family: "Barlow", sans-serif;

}


.mainPage{
    display: flex;
    padding: 0px 150px 0px 200px;
    height: 100vh;

}

.mainPageText{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 22px;
}

.mainPageText a{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #3E54A3;
    width: 200px;
    color: white;
    text-decoration: none;
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
}

.mainImage {
    display: flex;
    justify-content: center;
    align-content: center;
}

.mainImage img{
    width: 570px;
    height: auto;
    object-fit: contain;
}


.viewChallenges{
    background-color: #F4F4F5;
    display: flex;
    flex-direction: column;
    padding: 0px 150px 0px 200px;
    height: 100vh;
}

.viewChallengesTitle, h3, #viewChallengesTitlep{
    text-align: center;
}

.viewChallenges .viewChallengesTitle{
    margin: 100px 0px 50px 0px;
    font-size: 26px;
}


.cardSection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    

}

.card{
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.card h3{
    margin: 10px 0px;
}


.challengeImage{
    width: 100%;

}

