*{
    margin: 0;
    font-family:  "Inter", sans-serif;;
}

body{
    background-color: hsl(0, 0%, 8%);

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    border-radius: 30px ;
    background-color: hsl(0, 0%, 12%);
    padding: 50px;
    margin: 40px 0px;
    z-index: 1;

}

.mainInfo{
    background-color: hsl(0, 0%, 12%) ;
}

.mainImage img{
    border-radius: 100%;
    background-color: hsl(0, 0%, 12%);
    width: 100px;

}

.title h1{
    color:white;
    font-weight: 700;
    margin-top: 20px;
    
}

.subtitle h2{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;

}

.paragraph h3{
    font-size: 14px;
    color: white;
    margin-top: 25px;
    font-weight: 400;
}

.options a{
    text-decoration: none;
    color: white;
    width: 420px;
    height: 50px;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;


}

.menu .options{
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}
.attribution{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
}

.attribution a{
    text-decoration: none;
    color: white;
}

.options a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    cursor: pointer;
    
}

