*{
    margin: 0px;
    font-family: 'Inter';
    color:white;
    text-align: center;
    list-style: none;
    padding: 0;
}



.mainContainer{
    background-color: hsl(0, 0%, 8%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialCard{
    background-color: hsl(0, 0%, 12%);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}

.mainImage img{
    border-radius: 50%;
    width: 30%;
    margin-bottom: 20px;
}

.mainTitle h3{
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 400;
}

.mainParagraph p{
    margin-bottom: 20px;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size:1rem ;
}

.descriptionP{
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.socialLinks ul{
    display: flex;
    flex-direction: column;
    height: 200%;
    gap: 10px;
    
}



.link a{
    background-color: hsl(0, 0%, 20%);

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    font-size: 1rem;


}

.link a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%)
}
